<md-toolbar>
  <md-progress-linear class="loading" md-mode="query" ng-if="$loading"></md-progress-linear>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ui-sref="payments" ui-sref-active="md-primary md-hue-1">
      <md-tooltip>Платежи</md-tooltip>
      <md-icon>payment</md-icon>
    </md-button>
    <md-button class="md-icon-button" ui-sref="charts" ui-sref-active="md-primary md-hue-1">
      <md-tooltip>Графики</md-tooltip>
      <md-icon>show_chart</md-icon>
    </md-button>
    <h2 md-truncate flex>Utility Payments</h2>
    <div class="toolbar" ui-view="toolbar" ng-if="Session.isAuthenticated()"></div>
    <md-menu>
      <md-button class="md-icon-button" ng-click="Session.isAuthenticated() ? $mdMenu.open() : $state.go($transition.to.state, $transition.to.params)" aria-label="Аутентификация">
        <md-icon>perm_identity</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="account">
            <md-icon>perm_identity</md-icon> <span style="font-weight: 500">{{ Session.data.username }}</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="Auth.logout()">
            <md-icon>exit_to_app</md-icon> Выход
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-content ui-view layout flex></md-content>
<md-button class="sidenav-toggle-button md-fab" ng-click="toggleSidenav()" aria-label="Платежи" hide-gt-sm ng-if="$state.is('payments')">
  <md-icon>menu</md-icon>
</md-button>
