<md-toolbar>
  <md-progress-linear class="loading" md-mode="query" ng-if="$loading"></md-progress-linear>
  <div class="md-toolbar-tools">
    <h2 md-truncate flex>Utility Payments</h2>
    <div class="toolbar" ui-view="toolbar" ng-if="Session.isAuthenticated() || !$state.current.protected"></div>
    <md-menu>
      <md-button class="md-icon-button" ng-click="Session.isAuthenticated() ? $mdMenu.open() : $state.go($transition.to.state, $transition.to.params)" aria-label="Аутентификация">
        <md-icon>perm_identity</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="account">
            <md-icon>perm_identity</md-icon> <span style="font-weight: 500">{{ Session.data.username }}</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="Auth.logout()">
            <md-icon>exit_to_app</md-icon> Выход
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-tabs class="md-primary" md-no-select-click>
  <md-tab label="Платежи" ui-sref="payments" md-active="$state.includes('payments')"></md-tab>
  <md-tab label="Тарифы" ui-sref="rates" md-active="$state.is('rates')"></md-tab>
  <md-tab label="Графики" ui-sref="charts" md-active="$state.is('charts')"></md-tab>
</md-tabs>
<md-content ui-view layout md-swipe-right="toggleSidenav()" flex></md-content>
<md-button class="sidenav-toggle-button md-fab" ng-click="toggleSidenav()" aria-label="Платежи" hide-gt-sm ng-if="$state.includes('payments')">
  <md-icon>menu</md-icon>
</md-button>
