<span style="padding: 0 20px" md-truncate hide-xs>{{ Payment.summarize() }} RUB</span>
<md-button class="md-icon-button" ng-click="Payment.addBill()">
  <md-tooltip>Добавить счет</md-tooltip>
  <md-icon>add</md-icon>
</md-button>
<md-button class="md-icon-button" ng-click="copyToClipboard($event)">
  <md-tooltip>Копировать в буфер обмена</md-tooltip>
  <md-icon>receipt</md-icon>
</md-button>
<md-button class="md-icon-button" ng-click="Payment.revertChanges()" ng-disabled="Payment.isPristine()">
  <md-tooltip>Отменить изменения</md-tooltip>
  <md-icon>restore</md-icon>
</md-button>
<progress-button class="md-icon-button" on-click="Payment.save()" ng-disabled="Payment.isPristine()">
  <md-tooltip>Сохранить</md-tooltip>
  <md-icon>save_alt</md-icon>
</progress-button>
<progress-button class="md-icon-button md-warn" on-click="delete()">
  <md-tooltip>Удалить платеж</md-tooltip>
  <md-icon>delete_outline</md-icon>
</progress-button>
