<md-content layout="column" layout-fill>

  <md-content class="md-padding" layout layout-align="start center" md-theme="yellow-dark">
    <md-input-container class="no-errors-spacer">
      <label>Дата</label>
      <md-datepicker ng-model="payment.date" md-hide-icons="all" md-open-on-focus></md-datepicker>
    </md-input-container>
    <md-input-container class="no-errors-spacer" flex>
      <label>Комментарий</label>
      <input ng-model="payment.comment">
    </md-input-container>
    <md-button class="md-icon-button" ng-click="export($event)">
      <md-tooltip>Экспортировать</md-tooltip>
      <md-icon>file_copy</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-class="{ 'md-primary': payment.id === Readings.paymentId }" ng-click="saveReadings()">
      <md-tooltip>Сохранить показания как последние</md-tooltip>
      <md-icon>timer</md-icon>
    </md-button>
  </md-content>

  <md-content flex>
    <div class="md-padding" ng-repeat="bill in payment.bills" layout layout-align="start center">
      <h3 style="color: #999; margin: 0 16px" class="md-display-3" hide-sm hide-xs>{{ $index + 1 }}</h3>
      <md-input-container flex>
        <label>Коммунальная услуга</label>
        <md-select style="font-weight: 500" ng-model="bill.utility" focus-on="Payment.newBillIndex === $index">
          <md-option ng-repeat="u in UTILITIES" ng-value="$index">{{ u }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="no-errors-spacer" flex>
        <label>Показания</label>
        <input type="number" ng-model="bill.readings" autocomplete="off">
        <div class="readings" readings></div>
      </md-input-container>
      <md-input-container class="no-errors-spacer" flex>
        <label>Сумма</label>
        <input type="number" step="0.01" ng-model="bill.amount" autocomplete="off">
      </md-input-container>
      <md-checkbox style="margin-bottom: 0" class="md-primary" ng-model="bill.commission" title="Комиссия" hide-xs>
        <md-tooltip>Комиссия</md-tooltip>
      </md-checkbox>
      <md-input-container class="no-errors-spacer" flex hide-xs>
        <label>Комментарий</label>
        <input ng-model="bill.comment" autocomplete="off">
      </md-input-container>
      <md-button class="md-icon-button" ng-click="Payment.removeBill($index)" aria-label="Удалить">
        <md-icon>clear</md-icon>
      </md-button>
    </div>
  </md-content>

  <md-content class="md-padding" layout layout-align="start center" md-whiteframe="2">
    <span class="md-display-1" flex>{{ Payment.summarize() }} RUB</span>
    <md-button class="md-fab md-mini" ng-click="Payment.addBill()">
      <md-tooltip md-direction="top">Добавить счет</md-tooltip>
      <md-icon>add</md-icon>
    </md-button>
  </md-content>
</md-content>
