<md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="10">
  <md-content layout="column" flex>
    <md-content class="md-padding" layout>
      <md-input-container flex>
        <label>Месяц</label>
        <md-icon>filter_list</md-icon>
        <md-select ng-model="selectedMonth">
          <md-option style="font-weight: 500" ng-value="-1"></md-option>
          <md-option ng-repeat="m in months" ng-value="$index">{{ m }}</md-option>
        </md-select>
      </md-input-container>
    </md-content>
    <md-list style="overflow-y: auto" flex>
      <md-list-item class="md-3-line" ng-repeat="payment in payments | filter: monthFilter" ui-sref=".detail({ id: payment.id })" ui-sref-active="selected">
        <md-icon class="md-avatar-icon">payment</md-icon>
        <div class="md-list-item-text">
          <h3>{{ payment.date | mdate: 'L' }}</h3>
          <h4>{{ payment.comment }}</h4>
          <p>{{ Payment.summarize(payment) }} RUB</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
<md-content ui-view flex></md-content>
